# Título 1
## Título 2

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [2]:
print("Hola Mundo!")

Hola Mundo!

In [5]:
# No tipado!
# Variables primitivas
entero = 4
decimales = 1.1
nombre = "Jeff"
segundo_nombre = "Otro nombre" #no camel case
casado = False
profesor = True
hijos = None
apellido = 'Velasquez'
print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(casado))
print(type(profesor))
print(type(hijos))
print(type(apellido))
print(type('nan')) #Not A Number

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>

In [7]:
cadena_de_texto = """
El programa "Coursera para la Escuela Politécnica Nacional" ofrece alrededor de 4.000 cursos y especializaciones dirigidos por profesores e instructores de prestigiosas universidades y empresas multinacionales. Es una gran oportunidad para fortalecer el desarrollo académico y profesional de los participantes.

Usted se ha registrado en el Coursera para la Escuela Politécnica Nacional de Coursera. Aproveche los cursos, especializaciones y proyectos guiados (de corta duración) que le ofrece este programa.

Saludos,

"""
print(cadena_de_texto)

El programa "Coursera para la Escuela Politécnica Nacional" ofrece alrededor de 4.000 cursos y especializaciones dirigidos por profesores e instructores de prestigiosas universidades y empresas multinacionales. Es una gran oportunidad para fortalecer el desarrollo académico y profesional de los participantes.

Usted se ha registrado en el Coursera para la Escuela Politécnica Nacional de Coursera. Aproveche los cursos, especializaciones y proyectos guiados (de corta duración) que le ofrece este programa.

Saludos,

In [3]:
entero = 4
decimales = 1.1
nombre = "Jeff"
segundo_nombre = "Otro nombre" #no camel case
casado = False
profesor = True
hijos = None
apellido = 'Velasquez'
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Jeff

In [5]:
#Truty y Falsy

tuplas = (1,2,3) #Arreglo que no se pueden modificar
listas = [4,5,6] #Arreglos que se pueden modificar
diccionario = {
    "nombre": "Jeff"
}

if('Jeff'): #truty
    print('Truty')
else:
    print('Falsy')

if(''):
    print('Truty')
else:
    print('Falsy')
    
variable = None

if(variable):
    print("Truty")
else:
    print("falsy")
    
if(1):
    print("Truty")
else:
    print("falsy")

if(0):
    print("Truty")
else:
    print("falsy")

if(-1):
    print("Truty")
else:
    print("falsy")

if(-1.2):
    print("Truty")
else:
    print("falsy")
    
if(1.1):
    print("Truty")
else:
    print("falsy")
    

if(()):
    print("Truty")
else:
    print("falsy")
    
if((1,2,3)):
    print("Truty")
else:
    print("falsy")
    

if([]):
    print("Truty")
else:
    print("falsy")
    
if([1,2,3]):
    print("Truty")
else:
    print("falsy")
    
    
if({}):
    print("Truty")
else:
    print("falsy")
   
if({"nombre": "Jeff"}):
    print("Truty")
else:
    print("falsy")

Truty
Falsy
falsy
Truty
falsy
Truty
Truty
Truty
falsy
Truty
falsy
Truty
falsy
Truty

In [6]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
arreglo[0:5] #[0,3[
arreglo[2:] #Hasta el final
arreglo[:4] #Desde el principio
arreglo[-1] #lee desde el final
arreglo[-10] #índice negativo empieza desde el final
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]

arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[4:9]

(5, 6, 7, 8, 9)

In [26]:
diccionario = {
    "nombre": "Jeff",
    "apellido": "Velasquez",
    "otroCampo": "otro"
}

diccionario["nombre"]

'Jeff'

In [29]:
"12" in arreglo

False

In [28]:
print(type(12 in arreglo))

<class 'bool'>

In [30]:
9 in arreglo

True

In [31]:
len(arreglo)
len(arregloTupla)
len(diccionario)

10

In [34]:
"nombre" in diccionario #solo valida las llaves
"Jeff" in diccionario

False

In [36]:
#arregloTupla[0] = 2 #tuplas elementos solo de lectura
arreglo[9] = 11
arreglo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [38]:
#metodos arreglos
#arreglo.pop
#arreglo.append
#arreglo.insert
#entre otros

In [46]:
for numeroLista in arreglo:
    print(numeroLista)
    
for key in diccionario:
    print(key)

1
2
3
4
5
6
7
8
9
11
nombre
apellido
otroCampo

In [50]:
contador = 0
while contador < 10:
    print(contador)
    contador+=1

0
1
2
3
4
5
6
7
8
9

In [53]:
jeff = {
    True:"Jeff",
    False: "otro",
    1: 12.2,
    1.2:34,
    'edad': 23,
    "mascotas": [{"nombre":"Pelusa"}],
    None: None
}

jeff[1]

12.2

In [56]:
jeff['edad'] = 25
jeff['apellido'] = "velasquez"
jeff["mascotas"][0]["nombre"] = "Panda"
jeff

{True: 12.2,
 False: 'otro',
 1.2: 34,
 'edad': 25,
 'mascotas': [{'nombre': 'Panda'}],
 None: None,
 'apellido': 'velasquez'}

In [57]:
jeff.keys()
jeff.values()

dict_values([12.2, 'otro', 34, 25, [{'nombre': 'Panda'}], None, 'velasquez'])

In [58]:
type(jeff.keys())

dict_keys

In [59]:
type(jeff.values())

dict_values

In [63]:
for llave in jeff.keys():
    print(llave)

for valor in jeff.values():
    print(valor)

True
False
1.2
edad
mascotas
None
apellido
12.2
otro
34
25
[{'nombre': 'Panda'}]
None
velasquez

In [64]:
1==1 or 2==2
1!=1 and 2!=2

False